body {
    font-family: "Lato", sans-serif;
}

:root {
    --primary: #0d47a1;
}

.justify {
    text-align: justify;
}

.text-purple {
    color: var(--primary);
}

.bg-purple {
    background-color: var(--primary);
    color: white;
}